@use '../abstracts/' as *;

.private-homepage {
  background-color: $secondary-blue;
  flex: 1;
  @extend %flex-col;
  margin-top: 10rem;
  padding: 0.5rem;
  align-items: center;
  gap: 1.5rem;

  &__logo {
    width: 15rem;
    @include sm {
      width: 20rem;
    }
    @include md {
      width: 25rem;
    }
    @include xl {
      width: 30rem;
    }
  }
  &__search {
    width: 90%;
    @include sm {
      width: 80%;
    }
    @include md {
      width: 70%;
    }
    @include lg {
      width: 60%;
    }
    @include xl {
      width: 50%;
    }
  }
}
