@use '../abstracts/' as *;

.private-homepage {
  background-color: $secondary-blue;
  flex: 1;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  &__logo-ctn {
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__logo {
    width: 17rem;
    @include sm {
      width: 20rem;
    }
    @include md {
      width: 25rem;
    }
    @include xl {
      width: 30rem;
    }
  }
  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    @include sm {
      width: 80%;
    }
    @include md {
      width: 70%;
    }
    @include lg {
      width: 60%;
    }
    @include xl {
      width: 50%;
    }
  }
  &__help {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $tertiary-blue-darker;
    min-height: 40vh;
    width: 100%;
    h1 {
      text-align: center;
      border-bottom: 3px solid $primary-blue;
      width: 70%;
    }
    ul {
      background-color: $tertiary-blue;
      display: flex;
      flex-direction: column;
      width: 85%;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      gap: 1.5rem;
      @include sm {
        width: 70%;
      }
      @include lg {
        width: 50%;
      }
      @include xl {
        width: 40%;
      }
      li {
        color: white;
        list-style: disc;
      }
    }
  }
  &__accordion-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    background-color: $primary-blue;
    color: white;
    svg {
      fill: white;
    }
    &:hover {
      background-color: $tertiary-blue-darker;
    }
    padding: 18px;
    width: 85%;
    @include sm {
      font-size: 1.5rem;
      width: 70%;
    }
    @include lg {
      width: 50%;
    }
    @include xl {
      width: 40%;
    }
  }
}
