@use '../abstracts/' as *;

.private-homepage {
  background-color: $secondary-blue;
  flex: 1;
  @extend %flex-col;
  justify-content: space-around;
  &__main {
    @extend %flex-col;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }
}
.search-bar__input {
  border: none;
  -webkit-box-shadow: 0px 6px 9px -3px #000000;
  box-shadow: 0px 6px 9px -3px #000000;
  font-size: 0.7rem;
  padding-left: 2rem;
}
.search-bar__icon {
  position: absolute;
  width: 1.5rem;
  top: 10%;
  left: 5px;
}
