@use '../abstracts/' as *;
.search-page {
  display: flex;
  flex: 1;
  margin-top: 2rem;
  flex-direction: column;
  text-align: center;
  &__ctn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__results {
    @include sm {
      padding: 0 0;
    }
    @include md {
      padding: 0 2%;
    }
    @include lg {
      padding: 0 10%;
    }

    @include xl {
      padding: 0 20%;
    }
  }
}

.question,
.answer {
  margin: 2rem auto;
  padding: 1.5rem;
  width: 80%;
  border-radius: 1rem;
  color: white;
  background-color: $tertiary-blue;
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;

  &__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__heading {
    margin-left: 5rem;
  }
  &__title {
    color: white;
  }
  &__owner,
  .comment__owner {
    color: rgb(108, 255, 199);
    font-weight: bold;
    align-self: flex-end;
  }
  &__comment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem 0;
    border-radius: 1rem;
    padding: 1rem;
    background-color: $tertiary-blue-darker;
  }
  &__btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &-icon {
      width: 2rem;
      fill: white;
    }
    align-self: flex-end;
    background-color: $tertiary-blue-darker;
    border-radius: 10px;
    height: 3rem;
    width: 8rem;
    margin-top: 1rem;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: $secondary-blue;
      color: $tertiary-blue-darker;
    }
    &:hover &-icon {
      fill: $tertiary-blue-darker;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      margin-bottom: 1rem;
      line-height: 1.5rem;
    }
    a {
      cursor: pointer;
      color: rgb(0, 204, 255);
      text-decoration: underline;
      &:hover {
        color: rgb(0, 0, 0);
      }
    }
    ul {
      list-style: disc;
    }
  }
  &__details {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
  }
  &__tag {
    border-radius: 10px;
    padding: 7px;
    color: white;
    background-color: $primary-blue;
  }
}
.interaction-ctn {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
