@use '../abstracts/' as *;
.btn {
  background-color: $tertiary-blue;
  border-radius: 10px;
  color: white;
  padding: 6px;
  height: 2.5rem;
  width: 12rem;
  cursor: pointer;
  &:hover {
    background-color: $tertiary-blue-darker;
  }
  margin: 1rem;
  text-align: center;
  &__span {
    font-weight: bold;
  }
  @include sm {
    height: 2.6rem;
    width: 13rem;
    font-size: 1.1rem;
  }
  &--search {
    width: 8rem;
  }
}

.back-btn {
  cursor: pointer;
  width: 3rem;
  fill: $tertiary-blue;
  &:hover {
    fill: $tertiary-blue-darker;
  }
}

.stack-overflow-btn {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: flex-end;
  color: $tertiary-blue;
  font-weight: bold;
  &:hover {
    color: $tertiary-blue-darker;
  }
  svg {
    fill: $tertiary-blue;
    width: 3rem;
  }
}

.save-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  svg {
    width: 2rem;
    fill: white;
  }
  align-self: center;
  background-color: $tertiary-blue-darker;
  border-radius: 10px;
  padding: 0 1rem;
  height: 3rem;
  width: 8rem;
  cursor: pointer;
  &:hover {
    background-color: $secondary-blue;
    color: $tertiary-blue-darker;
  }
  &:hover svg {
    fill: $tertiary-blue-darker;
  }
}

.comments-btn {
  cursor: pointer;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  &:hover &__icon {
    fill: $bright-blue;
  }
  &__icon-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    fill: white;
  }
  &__text {
    font-size: 1.3rem;
  }
}
